
fastapi
uvicorn


httptools
websockets
watchfiles

uvloop; sys_platform != "win32"


sqlalchemy
mysql-connector-python
pymysql
aiomysql
alembic


pydantic[email]
pydantic-settings


python-dotenv


python-jose[cryptography]
passlib[bcrypt]


pytest
pytest-asyncio


python-multipart
requests
beautifulsoup4
reportlab
boto3
openpyxl
pandas
playwright
redis
apscheduler
pytz
